<div class="row" >
  <div class="col-lg-4" *ngFor="let dragon of dragons">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>{{dragon.name}}</h2>
    <p>{{dragon.type}}</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    <p><a class="btn btn-danger"(click)="deleteDragon(dragon.slug)" role="button">Delete »</a></p>
    
  </div>
</div>